.navbar {
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
}

.env-name {
  color: whitesmoke;
  font-size: 12px;
  background-color: olivedrab;
  margin: 0px 0px 2px 10px;
  padding: 2px 8px;
  font-weight: bold;
}