/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

// progress bar at top
.ng-progress-bar {
  margin-top: 54px;
}
.ng-spinner {
  margin-top: 54px;
}

.ng-meteor {
  box-shadow: 0px 0px !important; // override the style to hide the shadow in the progress bar
}

div .bar-shadow[_ngcontent-c1] {
  all: initial;
}